<h1>Follow Users</h1>

<% if @users.count == 0 %>
  <p>ユーザーはいません</p>
<% else %>
  <table class="table">
    <tr>
      <th>
        <p>image</p>
      </th>
      <th>
        <p>name</p>
      </th>
      <!--空thx３-->
      <th></th><th></th><th></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= image_tag user.get_profile_image, size:'50x50'%>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <p>フォロー数：<%= user.following_users.count %></p>
        </td>
        <td>
          <p>フォロワー数：<%= user.follower_users.count %></p>
        </td>
        <td>
          <%= link_to "show", user_path(user) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>